.feedback-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.input{
  height: 40px;
  width: 360px;
  fill: #fff;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input.email{
  margin-bottom: 8px;
}

.input.textarea{
  height: 80px;
  resize: none;
}
.label{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
align-items: flex-start;
}
.input:hover{
  border-color: #000000;
}

.input:focus{
outline: none;
border-color: #808080;
}

.btn{
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
display: block;
padding: 8px 16px;
border-radius: 8px;
background-color: #4E75FF;
border-color: #808080;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
border: none;
transition: all 0.3s ease;
border: none;
}

.btn:hover{
  background-color: #6C8CFF;
}