/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./form.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./badges.css');
@import url('./back-link.css');
@import url('./gallery.css');

.nav-list{
  display: flex;
  gap: 24px;
  padding: 50px 156px;
  margin: 0;
}
.nav-link{
  font-weight: 700;
}